/* Main Body Layout*/

* {
  box-sizing: border-box;
}

body {
  margin: 200;
  padding: 200;
  font-family: Georgia, 'Times New Roman', Times, serif;
  background-color: #ffffff;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

p {
  margin: 0;
}

/* Header */
header {
  padding: 20px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  background-color: 	#ffb5b5;
  color: #fab1a0;
}

header h1 {
  display: inline-block;
  font-size: 48px;
  background-color: 	#ffb5b5;
  color: #ffffff;
}


/* Navigation Bar */
header nav {
  margin-right: 20px;
  float: right;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 25px;
}

header nav ul {
  list-style-type: none;
}

header nav ul li {
  display: inline-block;
  margin-left: 25px;
}

.nav-item { 
  color: #000000;
}

/* Background Image */
.hero-banner {
  height: 250px;
  width: 100%;
  margin-bottom: 20px;
  background-image: url("../images/banner.PNG");
  background-size: cover;
  background-position: center;
  position: relative;
}

#hero-text {
  background-color: #ddaf83;
  width: 230px;
  position: absolute;
  bottom: 21px;
  right: 30px;
  font-size: 15px;
}

/* Images in Main Content*/
.float-left {
  float: left;
  margin-right: 25px;
}

.float-right {
  float: right;
  margin-left: 25px;
}

/*Main Content*/

.page-wrapper {
  width: 65%;
  display: inline-block;
  margin-left: 20px;
}

.page-wrapper1 {
  width: 95%;
  display: inline-block;
  margin-left: 30px;
  margin-right: 20px;
}


.page-section {
  margin-bottom: 20px;
  padding: 45px;
  height: 560px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  background-color: #fab1a0;
  color: #eb3b5a;
}

#page-section1 {
  height: 140px;
}

#page-section2 {
  height: 280px;
}

#page-section3 {
  height: 460px;
}

#page-section4 {
  height: 400px;
}

.page-section img {
  max-height: 300px;
  max-width: 430px;
}

.page-section h3 {
  margin-bottom: 20px;
  font-size: 30px;
}

.page-section h4 {
  margin-bottom: 20px;
  font-size: 20px;
}

#mycontact {
  height: 110px;
  background-color: #ffffff;
  color: #e66767;
  height: 200px;
  padding: 45px 15px;
}

#mycontact h3{
  font-size: 40px;
}


/* Project Grid */

.grid-container {
  display: grid;
  grid-template-columns: auto auto;
  gap: 16px; /* Adjust the gap as needed */
  background-color: #ffcccc;
  padding: 10px;
  align-items: center;
  justify-content: center;
  position: relative;
}

.grid-container > div {
  background-color: rgba(255, 255, 255, 0.8);
  text-align: center;
  padding: 10px;
  font-size: 30px;
}

.item1 {
  grid-column: 1 / 2;
  grid-column: span 2;
}

img {
  max-width: 100%;
  height: auto;
}

.image-text {
  position: absolute;
  bottom: 8px;
  right: 16px;
  background-color: white;
  padding: 5px;
}

#grid-text1 {
  background-color: #ffffff;
  /* width: 230px; */
  position: relative;
  /* bottom: 15px;
  right: 30px; */
  font-size: 15px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#grid-text2 {
  background-color: #ffffff;
  width: 230px;
  position: absolute;
  bottom: 15px;
  right: 30px;
  font-size: 15px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#grid-text3 {
  background-color: #ffffff;
  width: 230px;
  position: absolute;
  bottom: 15px;
  right: 30px;
  font-size: 15px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#grid-text4 {
  background-color: #ffffff;
  width: 230px;
  position: absolute;
  bottom: 15px;
  right: 30px;
  font-size: 15px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#grid-text5 {
  background-color: #ffffff;
  width: 230px;
  position: absolute;
  bottom: 15px;
  right: 30px;
  font-size: 15px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

/* Aside Section */
.heading {
  margin-right: 20px;
  padding: 20px;
  clear: both;
  float: left;
  width: 30%;
  height: 100%;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  background-color: #ffffff;
}

.title {
  margin-bottom: 32px;
  color: #e66767;
}

.title h2 {
  margin-bottom: 10px;
  text-align: center;
  font-size: 100px;
}

.title h3 {
  margin-bottom: 10px;
  text-align: center;
  font-size: 50px;
}

#contact h2 {
  font-size: 50px;
}

.title img {
  display: block;
  margin: 10px auto;
  max-width: 150px;
}

/* Features*/
button {
  border-radius: 7px;
  background-color: #ffffff;
  text-align: center;
  padding: 7px 10px 7px 10px;
  cursor:grab;
  margin-left: 30px;
  font-size: 40px;
  font-weight: 400;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}


.button2 {
  margin-left: 30px;
}

.footer {
  position: fixed;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  background-color: #f0f0f0; 
  text-align: center;
  padding: 10px;
}
