/* Main Body Layout*/

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: Georgia, 'Times New Roman', Times, serif;
  background-color: #ffffff;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

p {
  margin: 0;
}

/* Header */
header {
  padding: 20px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  background-color: 	#ffb5b5;
  color: #fab1a0;
}

header h1 {
  display: inline-block;
  font-size: 48px;
  background-color: 	#ffb5b5;
  color: #ffffff;
}


/* Navigation Bar */
header nav {
  margin-right: 20px;
  float: right;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 25px;
}

header nav ul {
  list-style-type: none;
}

header nav ul li {
  display: inline-block;
  margin-left: 25px;
}

.nav-item { 
  color: #000000;
}

/* Background Image */
.hero-banner {
  height: 200px;
  width: 100%;
  margin-bottom: 25px;
  background-image: url("../images/banner.PNG");
  background-size: cover;
  background-position: center;
  position: relative;
}

#hero-text {
  background-color: #ddaf83;
  width: 230px;
  position: absolute;
  bottom: 16px;
  right: 30px;
  font-size: 15px;
}

/*Main Content*/

/* .page-wrapper 